<div id="user-profile">
   <div id="user-thumbnail"> <img src="{{data.dpURL}}"/></div>
   <div id="user-full-name">Name: 
       {{{data.title}}}
       <input id="user-fname" type="text" value="{{data.firstName}}" />
       <input id="user-mname"type="text" value="{{data.middleName}}" />
       <input id="user-lname" type="text" value="{{data.lastName}}" />
    </div> 
   <div>Email: {{data.email}} </div> 
   <div>Mobile no: <input type="text" id="user-mobileno" value="{{data.mobileno}}"/> </div> 
   <div id="user-gender">Gender: {{data.gender}} </div> 
   <div >City: <input type="text" id="user-city" value="{{data.city}}"/> </div> 
   <div >State: <input type="text" id="user-state" value="{{data.state}}"/> </div> 
   <div >Country: <input type="text" id="user-country" value="{{data.country}}"/> </div>

   <input type="button" value="Save" id="update-profile-btn"/>
   <div id="user-friends">
        Friends: 
       {{#each data.friends}}
            <div class="people-info">
                <div class="people-name"><a href="/user/{{this.id}}">{{this.name}}</a></div>
            </div>
        {{/each}}
   </div>
</div>