<div id="user-profile">
   <div id="user-thumbnail">
        <img src="{{data.dpURL}}"/>
   </div>
   <div id="user-full-name">Name: 
       {{{data.title}}}
       {{data.firstName}}
       {{data.middleName}}
       {{data.lastName}}
    </div>  
   <div id="user-mobileno">Mobile no: {{data.mobileno}}</div>
   <div id="user-gender">Gender: {{data.gender}} </div> 
   <div  id="user-city" >City: {{data.city}} </div> 
   <div id="user-state">State: {{data.state}} </div> 
   <div id="user-country">Country: {{data.country}}</div>
   <div id="user-friends">
       Friends: {{#each data.friends}}
            <div>{{this.name}}<div>
       {{/each}}
   </div>
</div>